@charset "utf-8";
*,
*::before,
*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font: 16px/1.6 system-ui, sans-serif;
}
body{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	// background-image: linear-gradient(orange, orangered);
	background: url('../images/night.svg') no-repeat center/cover;
}
h1{
	margin-bottom: 1rem;
	font-size: 2rem;
	font-weight: 900;
	color: white;
	text-shadow: 1px 2px 4px dimgray;
}
h2{
	font-size: smaller;
}
.loader{
	display: grid;
	place-items: center; 
	position: absolute;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 10;
	&__hide{
		display: none
	}
	.spin{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		border: 8px solid #c0c0c011;
		border-right-color: royalblue;
		animation: spin 0.7s linear infinite;
	}
}
@keyframes spin {
	100%{
		transform: rotate(360deg);
	}
}

.weather{
	max-width: 300px;
	border-radius: 4px;
	background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
	overflow: hidden;
	&__header{
		position: relative;
		img{
			display: block;
			max-width: 100%;
			object-fit: cover;
		}
	}
	&__temp{
		font-size: 2.5rem;
		font-weight: 900;
		position: absolute;
		inset: 0;
		display: grid;
		place-items: center;
		text-shadow: 0 0 10px black;
		color: white;
	}
	&__state, &__location{
		text-align: center;
	}
	&__state{
		margin-top: 2rem;
		font-size: 1.4rem;
		font-weight: bold;
		text-transform: capitalize;
	}
	&__city::after{
		content: ","
	}
	&__conditions{
		display: flex;
		margin: 2rem 0;
		> *{
			flex: 1;
			text-align: center;
		}
	}

}
.search-form{
	margin: 1rem 1.5rem;
	display: flex;
}
.search-field{
	background-color: rgba(white, 40%);
	border-radius: 1.5rem;
	transition: box-shadow 0.25s;
	&:focus-within{
		box-shadow: 0 0 15px rgba(black, 40%);
		.search-button{
			box-shadow: 0 0 1.5rem inset silver;
		}
	}
}
.search-input,
.search-button{
	appearance: none;
	border: none;
	outline: none;
	background: none;
	height: 3rem;
}
.search-input{
	flex: 1;
	width: calc(100% - 3.25rem);
	padding: 0 1rem;
	font-weight: bold;
}
.search-button{ 
	width: 3rem;
	display: inline-grid;
	place-items: center;
	cursor: pointer;
	border-radius: 50%;
}
